<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.maning.mnswipetoloaddemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.ElmRefreshActivity"/>
        <activity android:name=".ui.WeatherRefreshActivity"/>
        <activity android:name=".ui.WeiboRefreshActivity"/>
        <activity android:name=".ui.JDRefreshActivity"/>
        <activity android:name=".ui.BaiDuRefreshActivity"/>
        <activity android:name=".ui.MTWMRefreshActivity"/>
        <activity android:name=".ui.TianMaoRefreshActivity"/>
    </application>

</manifest>